<md-content layout="row" layout-fill md-colors="{color: 'primary'}">
  <md-list flex="100"  md-colors="{background: 'grey-200'}">
          <md-toolbar layout="row" >
      <div class="md-toolbar-tools">
        <span>Comentarios</span>
      </div>
    </md-toolbar> 
        <!-- si es mobile -->
          <md-list-item hide-gt-sm class="md-3-line" ng-repeat="(index, item) in comments| filter: search"  ng-click="goToPlace(index, $event)" md-whiteframe="1" md-colors="{background: 'grey-A100'}">
        
          <div class="md-list-item-text w-100"  layout="column" md-colors="{color: 'grey-700'}" >
            <div >
              <h3><strong>{{item.place.name}}</strong> <ratingstar rating="item.rating" ></ratingstar></h3>
              <p>{{item.authorName}}</p>
            <p>{{item.comment}}</p>
             <md-icon ng-if="currentUser()" class="md-secondary" ng-click="editComment(item,$event)">edit</md-icon>
             <md-icon ng-if="currentUser()" class="md-secondary" ng-click="deleteComment(item,$event)">delete</md-icon>
            </div>
          </div> 
        </md-list-item>
        <!-- si es mas grande -->
        <md-subheader class="md-no-sticky" hide show-gt-sm md-whiteframe="1" md-colors="{background: 'grey-A100'}" >
            <div layout="row" md-colors="{color: 'primary-300'}">
              <div flex="20" ><strong>Rating</strong></div>
              <div flex="20" ><strong>Lugar</strong></div>
              <div flex="20" ><strong>Autor</strong></div>
              <div flex="grow" ><strong>Texto</strong></div>
            </div>
          </md-subheader>
      <md-list-item hide show-gt-sm ng-repeat=" item in comments| filter: search"  md-whiteframe="1" md-colors="{background: 'grey-A100'}" >

          <div class="md-list-item-text w-100"  layout="column" md-colors="{color: 'grey-700'}" >
            <div layout="row" layout-align="space-around center"   md-colors="{color: 'grey-700'}"    layout-padding  >
              <div flex="20"><ratingstar rating="item.rating" ></ratingstar></div>                            
              <div flex="20">{{item.place.name}}</div>
              <div flex="20">{{item.authorName}}</div>
              <div flex>{{item.comment}}</div>
              <md-icon ng-if="currentUser()" class="md-secondary" ng-click="editComment(item,$event)">edit</md-icon>
             <md-icon ng-if="currentUser()" class="md-secondary" ng-click="deleteComment(item,$event)">delete</md-icon>
            </div>

          </div> 

        </md-list-item>


      </md-list>  




    </md-content>