<md-content layout-fill layout="row" layout-align="center start" md-colors="{background: 'grey-200'}">
  <div flex="100" flex-sm="100" flex-xs="100" layout-padding  layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" md-colors="{color: 'primary'}"><md-button class="md-icon-button" md-ripple-size="auto" href="/#!/place">
            <md-icon>arrow_back</md-icon>
          </md-button> {{place.name}} <ratingstar rating="place.rating" ></ratingstar></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" flex="grow">

          <div layout="row">
            <md-list flex="40" flex-sm="100">
            <md-list-item>
                <div class="md-list-item-text" layout="column">
                  <p ng-if="place.formattedPhoneNumber"><md-icon>phone</md-icon> {{place.formattedPhoneNumber}}</p>
                  <p ng-if="place.formattedAddress"><md-icon>place</md-icon> {{place.formattedAddress}}</p>
                  <p ng-if="place.geometry.location"><md-icon>my_location</md-icon> ({{place.geometry.location.lat}},{{place.geometry.location.lng}})</p>
                  <p ng-if="place.website"><md-icon>web</md-icon> {{place.website}}</p>
                </div>
              </md-list-item>
            </md-list>
            <md-list flex="60" flex-sm="100">
             <md-subheader md-colors="{ background: 'grey-A100'}" class="md-no-sticky">
              <md-icon>schedule</md-icon>Horarios
              <p ng-if="place.openingHours.openNow">Abierto en estos momentos.</p>
              <p ng-if="!place.openingHours.openNow">Cerrado en estos momentos.</p>


            </md-subheader>
            <md-list-item class="md-1-line" ng-repeat="item in place.openingHours.weekdayText" layout="row" layout-wrap>
              <div class="md-list-item-text" >
                <p ng-if="place.formattedPhoneNumber">{{item}}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
        <div layout="row">
          
          
        </div>
        <md-tabs  class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" ng-show="(currentUser() && placeUpdates.length>0) || placeReviews.length>0">
          <md-tab id="tab1"  ng-show="placeReviews.length>0">
            <md-tab-label>Comentarios</md-tab-label>
            <md-tab-body>
              <md-list>

                <md-list-item class="md-2-line" ng-repeat="item in placeReviews" >
                  <div class="md-list-item-text">
                    <h3>{{item.authorName}} <ratingstar rating="item.rating" ></ratingstar></h3>
                    <p>{{item.comment}}</p>

                  </div>
                  <md-icon ng-if="currentUser()" class="md-secondary" ng-click="editComment(item,$event)">edit</md-icon>
                  <md-icon ng-if="currentUser()"  class="md-secondary" ng-click="deleteComment(item,$event)">delete</md-icon>

                </md-list-item>

              </md-list> 
            </md-tab-body>
          </md-tab>
          <md-tab id="tab2" ng-show="(currentUser() && placeUpdates.length>0)">
            <md-tab-label>Actualizaciones</md-tab-label>
            <md-tab-body>
             <md-list >

              <md-list-item class="md-3-line" ng-repeat="item in placeUpdates | orderBy:done " md-whiteframe="1" md-colors="{background: 'grey-A100'}" >
                <md-checkbox ng-model="item.done"></md-checkbox>
                <div class="md-list-item-text">
                  <h3>{{item.field_human}}</h3>
                  <p>{{item.value}}</p>
                  <p>Notificado  por: {{item.author}}</p>

                </div>
                <md-icon class="md-secondary" ng-click="deleteUpdate(item,$event)">delete</md-icon>

              </md-list-item>

            </md-list>
          </md-tab-body>
        </md-tab>
      </md-tabs>







  </md-card-content>
  <md-card-actions layout="row" layout-align="center center">
    <md-button ng-show="(currentUser() && placeUpdates.length>0)" ng-click="guardarCambios()"  class="md-button md-accent" aria-label="guardar cambios">Guardar Cambios</md-button>
  </md-card-actions>
</md-card>




</div>





</md-content>